<html>
    <head>
        {{!-- Animations CSS --}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link rel="stylesheet" href="./style/css/landing.css">
        <script defer src="../../modeDetect.js"></script>
    </head>
                    <div class="mainContainer">
                    <div class="js-type" id="first">{{name}}</div>
                    <div id="second">{{title1}} | {{title2}}</div>
                    <hr class="sep"></hr>
                </div>
            <div class="mainContainer"> 
                <div class="row">
                    <div class="card">
                        <a style='text-decoration: none;' href="https://github.com/mentaldropouts/collageApp" id="ProjectTitle">
                            {{project1.title}}
                        </a>
                        <div class="card-body">
                            {{project1.desc}}
                        </div>                    

                    </div>
                </div>

                <div class="row">
                    <div class="card">
                        <a style='text-decoration: none;' href="https://github.com/mentaldropouts/PokemonDeciderApp" id="ProjectTitle">
                            {{project2.title}}
                        </a>
                    </div>
                </div>
            </div>
        </div>

            <div class="mainContainer">
            <div class="row" id="resumeButton">
                <a style="text-decoration: none;" href={{button1.url}} download="TaylorPayneResume" id="third">         
                    {{button1.text}}
                </a>
            </div>
            <div class="row" id="transcriptButton">
                <a style="text-decoration: none;" href={{button2.url}} download="Transcript" id="third"> 
                    {{button2.text}}
                </a>
            </div>
            <div class="row" id="githubButton">
                <a style="text-decoration: none" href={{button3.url}} id="third">
                    {{button3.text}}
                </a>
            </div>
             <div class="row" id="linkedinButton">
                <a style="text-decoration: none" href={{button4.url}} id="third">
                    {{button4.text}}
                </a>
            </div>
     
            <div class="row" id="EmailButton">
                <a style="text-decoration: none" href = "mailto: taylorpaynedev@gmail.com" id="third">Contact Me</a>
                </div>
            </div>
     
            <div class="footer">
              
        </div>
        {{!-- </div> --}}
        </div>
        </div>
